[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/thatcosmonaut/SDL.git
	branch = gpu
[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
